{
    "presets": ["@babel/preset-react"],
    // "plugins": ["react-hot-loader/babel"]
}

// "babel":{
//     "presets" : [
//       "@babel/preset-env",
//       "@babel/preset-react"
//     ]
//   },